body{
     background-color: black;
    color: rgb(134, 133, 133);
    font-family: 'Sora', sans-serif;
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap')
}

.Navbar{
 height: 100%;
   /* width: 0; */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  background-color: #424141;
  padding-top: 0px;
  
  
}

.Navbar a{
    padding: 30px 30px 30px 0px; 
    text-decoration: none;
    font-size: 19px;
    color: #757474;
    display: block;
    transition: 0.3s;
    line-height: 0%;
    text-align: center;
}
.Navbar:hover .overlay-effect, .half:hover .overlay-effect, .half2:hover .overlay-effect {
    opacity: 9;
    cursor: pointer;
    /* color: black; */
}
.Navbar a:hover{
    /* color: #383737; */
    opacity: 0.2;
}

.section{
    text-align: center;
    color:rgb(134, 133, 133);
}
.section2{
    text-align: justify;
    color:rgb(134, 133, 133);
    margin-left: 15%;
    margin-top: 10%;
    margin-right: 10%;
}
.form{
    margin-left:15% ;
    margin-right: 10%;
    border: 1px solid #8d8f8f;
    border-width: 1px;
    padding: 40px;
    border-bottom-left-radius: 70px;
    border-top-right-radius: 70px;
    border-style: groove;
    margin-bottom: 90px;
    padding-bottom: 5pxpx;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=button] {
    background-color: #ccc9c9;
    color: rgb(17, 16, 16);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=button]:hover {
    background-color: #0d96e6;
  }
  .container {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
  }
  
  .skills {
    text-align: right; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: rgb(134, 133, 133); /* White text color */
  }
  
  .CC {width: 80%; background-color: #808080;} /* Green */
  .Web {width: 70%; background-color: #808080;} /* Blue */
  .pd {width: 50%; background-color: #808080;} /* Red */
  .Ms {width: 80%; background-color: #808080;} /* Dark Grey */
  